/*
*----------------------------------------------------------------------------------------
Version       : 1.0
Filename      : main.css
* ------------------------------------------------------------ ----------- ------
  TABLE OF CONTENT
* ----------------------------------------------------------------------------------------
* 01.BASE.
* 02.HEADER.
* 03.HERO SECTION.
* 04.COLLECTION SECTION.  
* 05.GAP SECTION.    
* 06.TEAM SECTION.
* 07.ROADMAP SECTION.
* 08.OTHER SECTION.
* 09.FAQ SECTION. 
* 10.FOOTER SECTION.
* 11.BLOG PAGE.
* 12.ERROR PAGE.
* 13.CONTACT PAGE.
* ----------------------------------------------------------------------------------------
*/
/*
* ----------------------------------------------------------------------------------------
* ----------------------------------------------------------------------------------------
*/
body {
  font-family: "Poppins", sans-serif;
  height: auto;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  background: #330C80;
  line-height: 1.7;
}
body main {
  overflow: hidden;
  position: relative;
}
body em {
  padding: 10px 0;
  display: block;
  font-size: 15px;
  color: #913bff;
}
body input,
body textarea {
  padding: 10px;
  width: 100%;
  color: #fff;
  background-color: #442993;
  border: 3px solid #442993;
  border-radius: 10px;
}
body input:focus-visible,
body textarea:focus-visible {
  border: 3px solid #913bff;
  outline: none;
}
body .fixi {
  background: rgba(68, 41, 147, 0.8);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
}
body .fill-dark {
  fill: #330C80;
}
body .l-blue {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: #1e64c7;
  filter: blur(100px);
  opacity: 0.25;
  pointer-events: none;
  z-index: -1;
}
body .l-yel {
  position: absolute;
  top: 0;
  right: 20%;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: #E9AF09;
  filter: blur(100px);
  opacity: 0.5;
  pointer-events: none;
  z-index: -1;
}
body #scrollUp {
  position: fixed !important;
  right: 30px;
  bottom: -50px;
  display: block;
  line-height: 50px;
  text-align: center;
  width: 50px;
  height: 50px;
  visibility: hidden;
  opacity: 0;
  z-index: 7779;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
  border-radius: 100px;
  background: #442993;
  color: #fff;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
body #scrollUp:before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 100px;
  border: 2px solid transparent;
  z-index: -1;
  background: linear-gradient(to top, transparent 30%, rgba(255, 255, 255, 0.3) 150%) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
body #scrollUp.showin {
  bottom: 60px;
  opacity: 1;
  visibility: visible;
}
body .ornament {
  position: absolute;
  z-index: 10;
}
body .ornament-b {
  position: absolute;
  z-index: 10;
  bottom: -1px;
  transform: rotate(180deg);
}
body .btn-lg {
  display: inline-flex;
  padding: 5px;
  text-decoration: none;
  position: relative;
  background: linear-gradient(89.96deg, rgba(255, 255, 255, 0.05) 0.03%, rgba(255, 255, 255, 0.008) 49.67%, rgba(255, 255, 255, 0.05) 99.96%);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
body .btn-lg span {
  padding: 18px 56px;
  background: #913bff;
  display: inline-block;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  position: relative;
  width: 100%;
  z-index: 1;
  text-decoration: none;
  overflow: hidden;
}
body .btn-lg span::after {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.13) 0px, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0));
  content: "";
  height: 200%;
  left: -210%;
  opacity: 0;
  position: absolute;
  top: -50%;
  transition: all 0.7s ease 0s;
  width: 200%;
}
body .btn-lg:hover span::after {
  left: -30%;
  opacity: 1;
  top: -20%;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-property: left, top, opacity;
  transition-timing-function: linear;
}
body .btn-dk {
  padding: 20px 50px;
  background: transparent;
  border: 3px solid #041D42;
  display: inline-block;
  border-radius: 5px;
  color: #041D42;
  font-weight: 700;
  text-decoration: none;
}
body .btn-dk:hover {
  background: #041D42;
  color: #fff;
}
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
body .gradient-text {
  background: linear-gradient(to right, #E9AF09 0%, #f3974c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body .color-text {
  color: #913bff;
}
body .wrap-title {
  /* media query */
}
body .wrap-title h1 {
  color: #fff;
  font-weight: 600;
  font-size: 60px;
}
body .wrap-title h1span {
  font-size: 100px;
}
body .wrap-title h3 {
  color: #fff;
  font-weight: 600;
  font-size: 50px;
  line-height: 1.5;
}
body .wrap-title p {
  color: #a3a3a3;
}
body .wrap-title .line {
  width: 30%;
  height: 2px;
  background: rgba(255, 255, 255, 0.5);
  display: inline-block;
  margin: 50px 0;
  position: relative;
}
body .wrap-title .line:before {
  content: "";
  width: 10%;
  display: inline-block;
  height: 2px;
  position: absolute;
  right: 0;
  top: 0;
  background: #913bff;
}
body .wrap-title .line:after {
  content: "";
  width: 10%;
  display: inline-block;
  height: 2px;
  position: absolute;
  left: 0;
  top: 0;
  background: #913bff;
}
@media screen and (max-width: 999px) {
  body .wrap-title h1 {
    font-size: 40px;
  }
  body .wrap-title h3 {
    font-size: 30px;
  }
  body .wrap-title p {
    font-size: 13px;
  }
}
body .wrap-title-two {
  /* media query */
}
body .wrap-title-two h1 {
  color: #fff;
  font-weight: 600;
  font-size: 75px;
}
body .wrap-title-two h3 {
  color: #fff;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.5;
  text-transform: uppercase;
}
body .wrap-title-two p {
  color: #a3a3a3;
}
body .wrap-title-two .line {
  width: 30%;
  height: 2px;
  background: rgba(255, 255, 255, 0.5);
  display: inline-block;
  margin: 50px 0;
  position: relative;
}
body .wrap-title-two .line:before {
  content: "";
  width: 10%;
  display: inline-block;
  height: 2px;
  position: absolute;
  right: 0;
  top: 0;
  background: #E9AF09;
}
body .wrap-title-two .line:after {
  content: "";
  width: 10%;
  display: inline-block;
  height: 2px;
  position: absolute;
  left: 0;
  top: 0;
  background: #E9AF09;
}
@media screen and (max-width: 999px) {
  body .wrap-title-two h1 {
    font-size: 40px;
  }
  body .wrap-title-two h3 {
    font-size: 30px;
  }
  body .wrap-title-two p {
    font-size: 13px;
  }
}

/* headder */
#header-main {
  position: fixed;
  z-index: 100;
  width: 100%;
  transition: all 0.4s ease-out;
  padding: 20px 0;
}
#header-main.fixi {
  padding: 10px 0;
}

#navigationlist .navbar-nav li {
  position: relative;
  margin: 0 !important;
}
#navigationlist .navbar-nav li a {
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 0 5px;
  position: relative;
  z-index: 1;
}
#navigationlist .navbar-nav li a.active {
  color: #fff;
}
#navigationlist .navbar-nav li a:after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  transition: width 0.3s;
  position: relative;
  bottom: -10px;
}
#navigationlist .navbar-nav li a:hover {
  color: #fff;
  background: rgba(68, 41, 147, 0.5);
}
#navigationlist .navbar-nav li a:hover:before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  border: 2px solid transparent;
  z-index: -1;
  background: linear-gradient(to top, transparent 30%, rgba(255, 255, 255, 0.3) 150%) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
#navigationlist .navbar-nav li.show a {
  color: #070707;
}
#navigationlist .navbar-nav li.show a:after {
  width: 50%;
  background: #070707;
  transition: width 0.3s;
}

.navbar-brand h6 {
  font-size: 20px;
  font-weight: 600;
}

.navbar-toggler:focus {
  box-shadow: unset !important;
}
.navbar-toggler i {
  color: #fff;
}

.mobilenav .navbar-toggler i {
  color: #fff;
}

.fixi .navbar-brand h6 {
  color: #fff;
}
.fixi .navbar-toggler i {
  color: #fff;
}

/* media query */
@media screen and (max-width: 1260px) {
  #navbar_main {
    visibility: hidden;
    background: rgba(68, 41, 147, 0.8);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
            backdrop-filter: saturate(180%) blur(20px);
  }
  #navbar_main.show {
    visibility: visible;
  }
}
/* media query */
@media screen and (max-width: 999px) {
  #header-main {
    position: absolute;
  }
  #header-main.fixi {
    background: none !important;
    -webkit-backdrop-filter: unset !important;
            backdrop-filter: unset !important;
  }
  #header-main.stack-head {
    background: rgba(68, 41, 147, 0.8);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
            backdrop-filter: saturate(180%) blur(20px);
  }
}
/* hero section */
#hero-section {
  padding: 150px 0 50px;
  position: relative;
  z-index: 1;
}
#hero-section:after {
  content: "";
  width: 100%;
  height: 100%;
  bottom: 0;
  display: block;
  position: absolute;
  z-index: -1;
  background: linear-gradient(to top, #330C80 50%, transparent 100%), linear-gradient(to top, #330C80 30%, transparent 100%), url(bg-2.png) no-repeat top;
  background-size: contain;
  opacity: 0.2;
}
#hero-section .wrap-slide {
  margin: 50px 0;
  position: relative;
}
#hero-section .wrap-slide .card-slide {
  height: 450px;
  background: #E9AF09;
}
#hero-section .wrap-slide .card-slide .product-wrap img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 450px;
  width: 100%;
}

/* collection section */
#collection-section {
  padding: 0px 0 150px;
  position: relative;
}
#collection-section .l-blue {
  right: 30px !important;
  left: unset;
  top: unset;
  bottom: 30px !important;
}
#collection-section .card-item {
  padding: 15px;
  transform-style: preserve-3d;
  transition: all 0.3s;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
#collection-section .card-item:hover {
  filter: drop-shadow(0px 0px 50px rgba(33, 109, 216, 0.3));
}
#collection-section .card-item:hover::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 250%;
  height: 250%;
  background-color: #442993;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: conic-gradient(transparent, rgba(255, 255, 255, 0.3), transparent 50%);
  animation: rotate 4s linear infinite;
}
#collection-section .card-item:hover::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 11px);
  height: calc(100% - 11px);
  background: #442993;
  border-radius: 5px;
}
#collection-section .card-item .item-product .img-wrap {
  transform: translateZ(20px);
}
#collection-section .card-item .item-product .img-wrap img {
  width: 100%;
  border-radius: 5px;
}
#collection-section .card-item .item-product .detail-product h4 {
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  margin: 0;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#collection-section .card-item .item-product .detail-product span {
  display: block;
  color: #a3a3a3;
  font-size: 13px;
}

/* gap section */
#gap-section {
  padding: 100px 0 0;
  position: relative;
  border-radius: 15px;
  /* media query */
}
#gap-section:after {
  content: "";
  background: url("r5.png");
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  position: absolute;
  top: -50px;
  z-index: -1;
}
#gap-section .gap-wrap {
  background: #442993;
  padding: 35px 50px;
  border-radius: 10px;
  z-index: 1;
}
#gap-section .gap-wrap:before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  border: 2px solid transparent;
  z-index: -1;
  background: linear-gradient(to top, transparent 30%, rgba(255, 255, 255, 0.3) 150%) border-box;
  -webkit-mask: linear-gradient(rgba(255, 255, 255, 0.5) 0 0) padding-box, linear-gradient(rgba(255, 255, 255, 0.5) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
#gap-section .img-other {
  position: absolute;
  right: 0;
  bottom: 0;
}
#gap-section .gap-wrapinner h3 {
  font-weight: 600;
  font-size: 35px;
  color: #fff;
  line-height: 1.5;
}
#gap-section .gap-wrapinner p {
  font-size: 19px;
  line-height: 32px;
  color: #a3a3a3;
}
@media screen and (max-width: 999px) {
  #gap-section #gap-section {
    padding: 0 0 100px;
  }
  #gap-section #gap-section .gap-wrapinner h3 {
    font-size: 25px;
  }
  #gap-section .gap-wrap {
    overflow: hidden;
    padding: 100px 30px 0 !important;
  }
  #gap-section .gap-wrap img {
    position: relative !important;
    width: 100%;
  }
}

#team-section {
  padding: 100px 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
#team-section:after {
  content: "";
  display: block;
  position: absolute;
  left: 10px;
  right: 10px;
  top: 0;
  height: 1px;
  background-image: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5) 50%, transparent);
  background-repeat: no-repeat;
  pointer-events: none;
}
#team-section .l-blue {
  right: unset;
  left: 30%;
  top: -100px;
  bottom: unset;
}
#team-section .team-wrap .item {
  text-align: center;
}
#team-section .team-wrap .item .box {
  text-align: center;
  padding: 30px;
  background-color: #442993;
  margin-bottom: 30px;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}
#team-section .team-wrap .item .box::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  border: 2px solid transparent;
  z-index: -1;
  background: linear-gradient(to top, transparent 30%, rgba(255, 255, 255, 0.3) 150%) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
#team-section .team-wrap .item .name {
  font-size: 20px;
  font-weight: 600;
  margin-top: 28px;
  margin-bottom: 8px;
  color: inherit;
  color: #fff;
}
#team-section .team-wrap .item .title {
  text-transform: uppercase;
  font-weight: 600;
  color: #a3a3a3;
  letter-spacing: 2px;
  font-size: 13px;
}
#team-section .team-wrap .item .description {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
  color: #a3a3a3;
}
#team-section .team-wrap .item img {
  max-width: 160px;
}
#team-section .team-wrap .item .social {
  font-size: 18px;
  color: #a3a3a3;
}
#team-section .team-wrap .item .social a {
  color: inherit;
  margin: 0 10px;
  display: inline-block;
  opacity: 1;
}
#team-section .team-wrap .item .social a:hover {
  color: #fff;
}

#road-section {
  padding: 100px 0;
  position: relative;
  overflow: hidden;
}
#road-section .l-blue {
  right: unset;
  left: 30%;
  top: -100px;
  bottom: unset;
}
#road-section .roadmap-content,
#road-section .roadmap-year span {
  border-radius: 2px;
}
#road-section .roadmap-item:before,
#road-section .roadmap-content:after,
#road-section .roadmap-content:before,
#road-section .roadmap-vertical:after,
#road-section .roadmap-vertical:before {
  content: "";
}
#road-section .roadmap-content:after,
#road-section .roadmap-content:before,
#road-section .roadmap-vertical .roadmap-content,
#road-section .roadmap-vertical .roadmap-item.roadmap-start .roadmap-content i,
#road-section .roadmap-vertical:after,
#road-section .roadmap-vertical:before {
  display: block;
}
#road-section .roadmap-vertical .roadmap-content:after,
#road-section .roadmap-vertical .roadmap-item.roadmap-start .roadmap-content:after,
#road-section .roadmap-vertical .roadmap-item > .fa-dot {
  display: none;
}
#road-section .roadmap-content:after,
#road-section .roadmap-content:before,
#road-section .roadmap-vertical .roadmap-item.roadmap-start .roadmap-content i,
#road-section .roadmap-vertical .roadmap-item > .fa-dot,
#road-section .roadmap-vertical:after,
#road-section .roadmap-vertical:before {
  position: absolute;
}
#road-section .roadmap-vertical,
#road-section .roadmap-vertical .roadmap-content,
#road-section .roadmap-vertical .roadmap-item,
#road-section .roadmap-vertical .roadmap-year {
  position: relative;
}
#road-section .roadmap-vertical:before {
  background-color: #442993;
  height: 100%;
  left: 50%;
  margin-left: -2px;
  width: 3px;
}
#road-section .roadmap-vertical:after {
  background-color: #442993;
  border: 5px solid #442993;
  border-radius: 50%;
  bottom: 0;
  box-shadow: 0 5px 19px rgba(0, 0, 0, 0.09);
  height: 20px;
  left: 50%;
  margin-bottom: -10px;
  margin-left: -10px;
  width: 20px;
}
#road-section .roadmap-vertical .roadmap-item {
  width: 100%;
}
#road-section .roadmap-vertical .roadmap-item .fa-dot {
  left: 50%;
  margin-left: -9.8px;
  top: 30px;
  font-size: 26px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #442993;
}
#road-section .roadmap-vertical .roadmap-year {
  display: inline-block;
  left: 50%;
  margin-left: 0;
  top: 0;
  transform: translateX(-50%);
}
#road-section .roadmap-vertical .roadmap-content {
  width: 100%;
}
#road-section .roadmap-vertical .roadmap-content h4 {
  color: #fff;
}
#road-section .roadmap-vertical .roadmap-content .detail-rm {
  color: #a3a3a3;
}
#road-section .roadmap-vertical .roadmap-content .detail-rm p {
  padding: 0 30px;
  position: relative;
}
#road-section .roadmap-vertical .roadmap-content .detail-rm p i {
  position: absolute;
  left: 0;
  top: 8px;
}
#road-section .roadmap-content {
  position: relative;
  z-index: 1;
  border-radius: 10px;
  background-color: #442993;
}
#road-section .roadmap-content:before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  border: 2px solid transparent;
  z-index: -1;
  background: linear-gradient(to top, transparent 30%, rgba(255, 255, 255, 0.3) 150%) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
#road-section .roadmap-content:after {
  background-color: #442993;
  transform: rotate(-45deg);
}
#road-section .roadmap-year span {
  padding: 10px 15px;
  position: relative;
  background: #442993;
  border-radius: 10px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  z-index: 1;
  display: inline-block;
}
#road-section .roadmap-year span:before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  border: 2px solid transparent;
  z-index: -1;
  background: linear-gradient(to top, transparent 30%, rgba(255, 255, 255, 0.3) 150%) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
@media (min-width: 768px) {
  #road-section .roadmap-vertical .roadmap-item.roadmap-start .roadmap-content {
    left: 25%;
    width: 50%;
  }
}
@media (min-width: 992px) {
  #road-section .roadmap-vertical .roadmap-content:after,
  #road-section .roadmap-vertical .roadmap-item > .fa-dot {
    display: block;
  }
  #road-section .roadmap-vertical .roadmap-item.roadmap-inverted .roadmap-year {
    left: 45%;
    margin-left: 0;
    transform: translateX(-100%);
  }
  #road-section .roadmap-vertical .roadmap-item.roadmap-inverted .roadmap-content {
    left: 55%;
    margin-left: -1px;
  }
  #road-section .roadmap-vertical .roadmap-item.roadmap-start .roadmap-content {
    left: 32%;
    width: 36%;
  }
  #road-section .roadmap-vertical .roadmap-year {
    left: 55%;
    margin-left: -1px;
    position: absolute;
    top: 30px;
    transform: translateX(0);
  }
  #road-section .roadmap-vertical .roadmap-content {
    width: 45%;
  }
}

/* other section */
#other-section .otherwrap img {
  width: 100%;
}

#faq-section {
  position: relative;
  padding: 100px 0;
  overflow: hidden;
}
#faq-section .l-blue {
  right: unset;
  left: 30%;
  top: -100px;
  bottom: unset;
}
#faq-section:after {
  content: "";
  display: block;
  position: absolute;
  left: 10px;
  right: 10px;
  top: 0;
  height: 1px;
  background-image: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5) 50%, transparent);
  background-repeat: no-repeat;
  pointer-events: none;
}
#faq-section .accordion .accordion-toggle {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 15px 30px 18px 28px;
  margin-top: 10px;
  position: relative;
  z-index: 1;
}
#faq-section .accordion .accordion-toggle.active {
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  background: #442993;
  border-bottom: none;
}
#faq-section .accordion .accordion-toggle.active:before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  border: 2px solid transparent;
  z-index: -1;
  background: linear-gradient(to top, transparent 30%, rgba(255, 255, 255, 0.3) 150%) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
#faq-section .accordion .accordion-toggle:first-of-type {
  margin-top: 0;
}
#faq-section .accordion .accordion-toggle .toggle-title:hover {
  cursor: pointer;
}
#faq-section .accordion .accordion-toggle .toggle-title:hover p {
  color: #fff;
}
#faq-section .accordion .accordion-toggle .toggle-title p {
  float: left;
  display: inline-block;
  font-size: 20px;
  line-height: 40px;
  font-weight: 600;
  max-width: 90%;
  color: #fff;
}
#faq-section .accordion .accordion-toggle .toggle-title i {
  float: right;
  display: inline-block;
  color: #fff;
  width: 22px;
  line-height: 22px;
  border-radius: 50%;
  text-align: center;
  font-size: 9px;
  margin-top: 5px;
}
#faq-section .accordion .accordion-toggle .toggle-title.active i {
  background-color: #a3a3a3;
  color: #041D42;
}
#faq-section .accordion .accordion-toggle .toggle-title.active i:before {
  content: "\f068";
}
#faq-section .accordion .accordion-toggle .toggle-content {
  margin-top: 0;
}
#faq-section .accordion .accordion-toggle .toggle-content p {
  color: #a3a3a3;
  font-size: 15px;
  font-weight: 400;
}
#faq-section .accordion .accordion-toggle .toggle-content.active {
  padding: 15px 30px 23px 28px;
}

#footer-main {
  padding: 0 50px 20px;
  position: relative;
}
#footer-main .social {
  padding: 0;
}
#footer-main .social li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  font-size: 30px;
}
#footer-main .social li:nth-child(1) {
  margin-left: 0;
}
#footer-main .social li a {
  color: #fff;
  opacity: 0.5;
}
#footer-main .social li a:hover {
  opacity: 1;
}
#footer-main .title-footer p {
  color: #fff;
}

/* blog page */
#blog-page {
  padding: 150px 0;
  position: relative;
  z-index: 1;
}
#blog-page:after {
  content: "";
  width: 100%;
  height: 100%;
  bottom: 0;
  display: block;
  position: absolute;
  z-index: -1;
  background: linear-gradient(to top, #330C80 50%, transparent 100%), linear-gradient(to top, #330C80 30%, transparent 100%), url(../asset/page/bg-2.png) no-repeat top;
  background-size: cover;
  opacity: 0.2;
}

#blog-section {
  padding: 100px 0;
  z-index: 1;
  overflow: hidden;
  position: relative;
  /* media query */
}
#blog-section .l-blue {
  right: unset;
  left: 30%;
  top: -100px;
  bottom: unset;
}
#blog-section:after {
  content: "";
  display: block;
  position: absolute;
  left: 10px;
  right: 10px;
  top: 0;
  height: 1px;
  background-image: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5) 50%, transparent);
  background-repeat: no-repeat;
  pointer-events: none;
}
#blog-section .blog-wrap .img-blog {
  height: 200px;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
}
#blog-section .blog-wrap .img-blog img {
  width: 100%;
}
#blog-section .blog-wrap .detail-blog {
  background: #442993;
  padding: 20px 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#blog-section .blog-wrap .detail-blog h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: #fff;
}
#blog-section .blog-wrap .detail-blog p {
  color: #a3a3a3;
}
#blog-section .pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin: 80px 0 50px;
}
#blog-section .pagination .btn {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
  color: #fff;
}
#blog-section .pagination .btn:before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 100px;
  border: 2px solid transparent;
  z-index: -1;
  background: linear-gradient(to top, transparent 30%, rgba(255, 255, 255, 0.5) 150%) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
#blog-section .pagination .btn:hover {
  background-color: #442993;
}
#blog-section .pagination .btn .btn-icon {
  width: 24px;
  height: 24px;
}
#blog-section .pagination .page-link {
  background: none;
  cursor: pointer;
  border: none;
  position: relative;
  z-index: 1;
  padding: 30px;
  color: #fff;
}
#blog-section .pagination .page-link:before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 100px;
  border: 2px solid transparent;
  z-index: -1;
  background: linear-gradient(to top, transparent 30%, rgba(255, 255, 255, 0.3) 150%) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
#blog-section .pagination .page-link:link, #blog-section .pagination .page-link:visited {
  text-decoration: none;
  color: #a3a3a3;
  font-size: 18px;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#blog-section .pagination .page-link:hover, #blog-section .pagination .page-link:active, #blog-section .pagination .page-link.page-link--current {
  background-color: #442993;
  color: #fff;
}
#blog-section .pagination .dots {
  color: #868e96;
}
@media screen and (max-width: 999px) {
  #blog-section .page-link {
    padding: 10px !important;
  }
}

/* error page */
.page-wrap #errorsection {
  padding: 150px 0;
  position: relative;
  z-index: 1;
}
.page-wrap #errorsection:after {
  content: "";
  width: 100%;
  height: 100%;
  bottom: 0;
  display: block;
  position: absolute;
  z-index: -1;
  background: linear-gradient(to top, #330C80 50%, transparent 100%), linear-gradient(to top, #330C80 30%, transparent 100%), url(../asset/page/bg-2.png) no-repeat top;
  background-size: cover;
  opacity: 0.2;
}
.page-wrap #errorsection span.color-text {
  font-size: 150px;
}
.page-wrap #gap-section {
  padding: 200px 0 100px;
}

/* contact page */
#contactsection {
  padding: 0 0 100px;
  position: relative;
  z-index: 1;
}
#contactsection:after {
  content: "";
  width: 100%;
  height: 100%;
  bottom: 0;
  display: block;
  position: absolute;
  z-index: -1;
  background: linear-gradient(to top, #330C80 50%, transparent 100%), linear-gradient(to top, #330C80 30%, transparent 100%), url(../asset/page/bg-2.png) no-repeat top;
  background-size: cover;
  opacity: 0.2;
}
#contactsection .contacttitle h1 {
  font-size: 50px;
  font-weight: 700;
  color: #fff;
}
#contactsection .contacttitle p {
  font-size: 18px;
  line-height: 1.7em;
  margin-top: 0;
  font-weight: 400;
  color: #fff;
  opacity: 0.5;
}
#contactsection .mapcontact img {
  width: 100%;
}
#contactsection .social {
  padding: 0;
}
#contactsection .social li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  font-size: 30px;
}
#contactsection .social li a {
  color: #fff;
  opacity: 0.5;
}
#contactsection .social li a:hover {
  opacity: 1;
}
#contactsection .social li:nth-child(1) {
  margin-left: 0;
}
#contactsection .contactinfo {
  position: relative;
  z-index: 1;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: #442993;
  height: 100%;
}
#contactsection .contactinfo:before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  border: 2px solid transparent;
  z-index: -1;
  background: linear-gradient(to top, transparent 30%, rgba(255, 255, 255, 0.5) 150%) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
#contactsection .contactinfo ul li {
  margin: 0 15px;
}
#contactsection .contactinfo p {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}
#contactsection .contactinfo .infocontact {
  font-size: 17px;
  color: #a3a3a3;
}
#contactsection .contactinfo .infocontact p a {
  color: #a3a3a3;
  text-decoration: none;
  font-weight: 500;
}
#contactsection .contactinfo .infocontact i {
  font-size: 20px;
  margin: 0 10px 0 0;
}

#formsection {
  color: #fff;
  padding: 100px 0;
  z-index: 1;
  overflow: hidden;
  position: relative;
}
#formsection .l-blue {
  right: unset;
  left: 30%;
  top: -100px;
  bottom: unset;
}
#formsection:after {
  content: "";
  display: block;
  position: absolute;
  left: 10px;
  right: 10px;
  top: 0;
  height: 1px;
  background-image: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5) 50%, transparent);
  background-repeat: no-repeat;
  pointer-events: none;
}
#formsection textarea.comentarea {
  height: 200px;
}
#formsection button#submitbutton {
  width: 100%;
}

/* media query */
@media screen and (max-width: 999px) {
  #contactsection {
    padding: 150px 0 100px;
  }
}/*# sourceMappingURL=main.css.map */